<html>
<head>
  <title>Todo App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div class="container" id="app">
    <div>{{text}}</div>
    <p>
      <label for="new-task">Add Item</label>
      <input id="new-task" type="text" v-on:keyup.13="addTodoItem">
      <button @click="addTodoItem">Add</button>
    </p>
    <h3>Todo</h3>
    <ul id="incomplete-tasks">
      <todoitem v-for="(todolist,index) in todolist" :key="index" :todolist="todolist" :li-index="index" @delete-todo="deleteTodoItem" @remove-todo="removeTodoList"></todoitem>
    </ul>
    <h3>Completed</h3>
    <ul id="completed-tasks">
      <todoitem v-for="(todolist,index) in completedlist" :key="index" :todolist="todolist" :li-index="index" @delete-todo="deleteTodoItem" @remove-todo="removeTodoList"></todoitem>
    </ul>
  </div>
<script>
Vue.component('todoitem',{
  template:`<li :data-index="liIndex">
              <input type="checkbox" :checked="todolist.check" @click="removeItem">
              <label>{{todolist.item}}</label>
              <button class="delete" @click="deleteItem">Delete</button>
            </li>`,
  props:{
    liIndex:Number,
    todolist:Object
  },
  methods:{
    deleteItem(){
      this.$emit('delete-todo' , event);
    },
    removeItem(){
      this.$emit('remove-todo' , event);
    }
  }
})
let vue = new Vue({
  el:"#app",
  data:{
    text:'我們曉得萬事都互相效力，叫愛神的人得益處，就是按他旨意被召的人。(羅馬書 8:28)',
    todolist:[],
    completedlist:[]
  },
  created(){
    let completed = new Object();
    completed.check =true;
    completed.item = "買衛生紙";
    this.completedlist.push(completed);

    let todolist = new Object();
    todolist.check = false;
    todolist.item = "付信用卡費";
    this.todolist.push(todolist);
    let todolistItemTwo = new Object();
    todolistItemTwo.check = false;
    todolistItemTwo.item = "還書";
    this.todolist.push(todolistItemTwo);
  },
  methods:{
    addTodoItem() {
      let input = document.getElementById('new-task');
      if(input.value.trim()){
        let newTodoItem = new Object();
        newTodoItem.check = false;
        newTodoItem.item = input.value.trim();
        this.todolist.push(newTodoItem);
        input.value = ''; 
      }else{
        alert('請輸入代辦事項');
        return
      }
    },
    deleteTodoItem(event){
      const index = event.target.closest('li').dataset.index;
      const todoType = event.target.closest('ul').id;
      const isDelete = confirm('Do you want to delete this item ?')? true:false;
      if(isDelete){
        this.deleteItem(todoType, index);
      }
      
    },
    deleteItem(todoType, index){ 
      switch(todoType){
        case 'incomplete-tasks':
          this.todolist.splice(index, 1); 
          break;
        case 'completed-tasks': 
        default: 
          this.completedlist.splice(index, 1);
          break;
      }
    },
    removeTodoList(event){
      const index = event.target.closest('li').dataset.index;
      const todoType = event.target.closest('ul').id;
      let moveItem = new Object();
      
      if (todoType=='incomplete-tasks'){
        moveItem.check = true;
        moveItem.item = this.todolist[index].item;
        this.completedlist.push(moveItem);
      } else {
        moveItem.check = false;
        moveItem.item = this.completedlist[index].item;
        this.todolist.push(moveItem);
      }
      this.deleteItem(todoType, index);
    }
  }
})
</script>
</body>
</html>